<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>a</title>
</head>
<body>
    <h1>hello</h1>
    <a href="/login"><h2>login</h2></a>    
    <a href="/register"><h2>register</h2></a>
</body>
</html>